<div>
	<p>Follow us on social media.</p>
  	<p>instagram | twitter | facebook</p>
<div>

{% schema %}
  {
    "name": "footer",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
